h1{
    font-size: 50px;
    --border-color: yellow;
   --border-width: 2px;
    --border-style: solid;
   border: 2px dashed orange;
}
li{
    color: aqua;
    border-width: 1px;
    border-style: dashed;
   
}
body{

    background-image: url("https://s2.glbimg.com/h3Duok3KWVA8yaIOzZZIESkNLC4DKPsVVGWWhNMHhpNIoz-HdGixxa_8qOZvMp3w/e.glbimg.com/og/ed/f/original/2013/08/02/imagem_para_sexta_51.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
